@charset "UTF-8";
:root{
    --cor01: #6C6C73;
    --cor02: #262614;
    --cor03: #595627;
    --cor04: #593831;
    --cor05: #261A17;

    --cor01m: #252526;
    --cor02m: #8A93A6;
    --cor03m: #5F6673;
    --cor04m: #8C4C35;
    --cor05m: #59362E;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(/pictures/bacgrounds/cabana-vertical-2.26mb.jpg);
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center top;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Container{
    width: 80vw;
    height: 500px;/*Javascript*/
    background-color: var(--cor05m);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   
}
/*Divisão Imagem de Login*/
#imglogin{
    background-color: rgb(0, 0, 0);
    width: 80vw;
    height: 100%;
    /*Javascript*/
    /*height: 50%;*/
    border-radius: 10px 10px 0px 0px;
    background-image: url(/pictures/simbol/simbolo-preto-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
/*Botão de Login*/
#botao{
    background-color: #fff;
    width: 100%;
    height: 25%;
    border-radius: 0px 0px 10px 10px;
}
/*Divisão formulário*/
#formlogin{
    display: none;/*Javascript*/
    margin-top: 10px;
}
form{
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 60vw;
}
h1{
    text-align: center;
    font-size: 2em;
}
h1, p{
    margin-bottom: 10px;
}
label, input{
    margin: 5px;
}
input{
    height: 35px;
    border: none;
    border-radius: 15px 0px;
    padding-left: 10px;
}